In [26]:
import pandas as pd # for dataframe and analytics
import boto3 # for connecting aws resources
import json

### Lets connect to aws resource first

#### Load aws configuration from dwh.cfg file

In [27]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')

#### Connect to s3 bucket

In [28]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

In [29]:
sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [30]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Connect to Sparkify database in aws

In [31]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

'Connected: dwhuser@dwh'

#### Create new facts and dimension tables.

In [50]:
!python3 create_tables.py

1. Connected
2. Created Cursor
3. Dropping tables if already exists...
3. Drop tables if already exists - completed
4.Creating tables...
4.Creation of tables - completed
5. Closed the connection

In [51]:
# confirm the creation of tables
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

#### Load data from S3 into staging tables on Redshift and then process that data into your analytics tables on Redshift.

In [52]:
!python3 etl.py

1. Connected
2. Created Cursor
3. Loading to staging...
3. Loaded to staging - completed
4. Inserting into tables...
4. Insertion into tables - completed
5. Closed the connection

#### Lets run few analytics queries

In [53]:
# Check number of rows in staging_events table.
%sql SELECT COUNT(*) FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [54]:
# Check number of rows in staging_songs table.
%sql SELECT COUNT(*) FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [55]:
# Check number of rows in songsplay table.
%sql SELECT COUNT(*) FROM songplays

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [56]:
# Check number of rows in users table.
%sql SELECT COUNT(*) FROM users

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [57]:
# Check number of rows in songs table.
%sql SELECT COUNT(*) FROM songs

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [58]:
# Check number of rows in artists table.
%sql SELECT COUNT(*) FROM artists

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [59]:
# Check number of rows in time table.
%sql SELECT COUNT(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [60]:
# View 5 rows of staging_events table.
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, datetime.datetime(2018, 11, 6, 2, 12, 44, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, datetime.datetime(2018, 11, 6, 2, 13, 3, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, datetime.datetime(2018, 11, 6, 2, 17, 12, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, datetime.datetime(2018, 11, 6, 3, 12, 47, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, datetime.datetime(2018, 11, 6, 3, 14, 8, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [61]:
# View 5 rows of songplays table.
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(296, datetime.datetime(2018, 11, 4, 19, 35, 15, 796000), 73, 'paid', 'SOULTKQ12AB018A183', 'ARKQQZA12086C116FC', 72, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (384, datetime.datetime(2018, 11, 5, 1, 48, 0, 796000), 44, 'paid', 'SOOXLKF12A6D4F594A', 'ARF5M7Q1187FB501E8', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (124, datetime.datetime(2018, 11, 5, 2, 9, 47, 796000), 44, 'paid', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (34, datetime.datetime(2018, 11, 5, 17, 31, 11, 796000), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (21, datetime.datetime(2018, 11, 5, 18, 13, 57, 796000), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [64]:
# View 5 rows of staging_songs table.
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'ARCTL0M1187FB5CEC7', None, None, '', 'MRK 1', 'SOUSWJP12A6D4FBCFF', 'Dr. Rudeboy', 266.55302, 0),
 (1, 'ARJEOGL1187B98E9D4', None, None, 'Cologne, Germany', 'Klee', 'SOUVTOG12A67ADAE5C', 'Ich vermiss Dich', 210.72934, 2006),
 (1, 'ARIRNUG1187B9B0D8D', 40.71455, -74.00712, 'NY - New York City', 'Riot', 'SOPUEWL12AB01814CC', 'Run For Your Life', 245.89016, 1981),
 (1, 'ARI1TQK1187B9A5644', None, None, '', 'Cazals', 'SOYXVLU12A8AE45CA8', 'Comfortable Silence', 302.23628, 2008),
 (1, 'ARFVYJI1187B9B8E13', 47.60356, -122.32944, 'Seattle, WA', 'Pearl Jam', 'SOHTWLT12A8C13CFE1', 'Inside Job', 428.56444, 2006)]

In [65]:
# View 5 rows of users table.
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(6, 'Cecilia', 'Owens', 'F', 'free'),
 (20, 'Aiden', 'Ramirez', 'M', 'paid'),
 (36, 'Matthew', 'Jones', 'M', 'free'),
 (36, 'Matthew', 'Jones', 'M', 'paid'),
 (49, 'Chloe', 'Cuevas', 'F', 'free')]

In [66]:
# View 5 rows of songs table.
%sql SELECT * FROM songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, 180.76689),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, 385.90649),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832),
 ('SOAASHY12A58A7C439', 'Ricordo', 'AR0VQ8W1187FB4F4D9', 2003, 275.98322),
 ('SOABBVH12AF72A5B57', 'My Love I Love', 'ARUIM291187FB3911A', 2007, 132.41424)]

In [67]:
# View 5 rows of artists table.
%sql SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR048JZ1187B9AEB85', 'Yellowcard', 'Jacksonville, FL', 30.33138, -81.6558),
 ('AR04S8J1187FB48358', 'Clifford Brown / Max Roach Quintet', 'Wilmington, DE', 39.74023, -75.55084),
 ('AR04S8J1187FB48358', 'Clifford Brown', 'Wilmington, DE', 39.74023, -75.55084)]

In [68]:
# View 5 rows of time table.
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwofrpi8brdw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 4, 19, 35, 15, 796000), 19, 4, 44, 11, 2018, '0'),
 (datetime.datetime(2018, 11, 5, 1, 48, 0, 796000), 1, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 2, 9, 47, 796000), 2, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 17, 31, 11, 796000), 17, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 18, 13, 57, 796000), 18, 5, 45, 11, 2018, '1')]